black==22.8.0
cached-property==1.5.2
cbf==1.2.0
certifi==2022.12.7
charset-normalizer==2.0.12
click==8.0.4
cycler==0.11.0
Cython==0.29.33
dataclasses==0.8
DateTime==5.0
decorator==4.4.2
fabio==0.14.0
h5py==3.1.0
idna==3.4
imageio==2.15.0
importlib-metadata==4.8.3
kiwisolver==1.3.1
matplotlib==3.3.4
mypy-extensions==1.0.0
networkx==2.5.1
numpy==1.19.5
pandas==1.1.5
pathspec==0.9.0
Pillow==8.4.0
platformdirs==2.4.0
PyCifRW==4.4.5
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.7.1
PyWavelets==1.1.1
requests==2.27.1
scikit-image==0.17.2
six==1.16.0
spglib==1.16.5
tifffile==2020.9.3
tomli==1.2.3
typed-ast==1.5.4
typing==3.7.4.3
typing_extensions==4.1.1
urllib3==1.26.14
zipp==3.6.0
zope.interface==5.5.2
